<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:fb="http://ogp.me/ns/fb#" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml"
      lang="vi" xml:lang="vi">
<head>
    <title>
        @ViewBag.Title
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="index,follow" />
    <meta name="Googlebot" content="index,follow" />
    <meta name="revisit-after" content="2 days" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="10.814816;106.710306" />
    <meta name="ICBM" content="10.814816, 106.710306" />
    <meta name="geo.placename" content="Ho Chi Minh, Viet Nam" />
    <meta name="geo.posion" content="VN-CM" />
    <meta property="og:url" content="@ViewBag.MainUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:image" content="https://www.tpwindow.vn/Assets/Images/logo.jpg" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jquerytools.org/1.2.7/all/jquery.tools.min.js"></script>
    <script type="text/javascript">
        var oldTabs = $.fn.tabs;
        delete $.fn.tabs;
        $.fn.jTabs = oldTabs;

        jQuery(document).ready(function ($) {
            $("ul.tabs").jTabs("div.panes > div");
        }
        );
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/Assets/Images/logo.jpg" />
    @*<script type="text/javascript" src="/Assets/JScripts/hoverIntent.js"></script>
    <script type="text/javascript" src="/Assets/Scripts/swfobject.js"></script>
    <script type="text/javascript" src="/Assets/Modules/PriceComparison/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Assets/Modules/PriceComparison/Scripts/libs98be.js?v=20131209"></script>
    <script type="text/javascript" src="/Assets/Modules/PriceComparison/Scripts/estore/jquery.formatCurrency.js"></script>
    <script type="text/javascript" src="/Assets/Modules/PriceComparison/Scripts/estore/wp.estoree5b7.js?v=20160825"></script>
    <script type="text/javascript" src="/Assets/Modules/PriceComparison/bundles/Estore/Statistic/statistic2370.js?v=20170309"></script>*@

    @Scripts.Render("~/bundles/jscore");

  

    <script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#topBar').addClass("fixed");
                } else {
                    $('#topBar').removeClass("fixed");
                }
            });
        });
    </script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    @*<link href="/Assets/css/jquery-ui.css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/00-reset.css" type="text/css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/01-base.css" type="text/css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/02-common.css" type="text/css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/03-default.css" type="text/css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/04-module.css" type="text/css" rel="stylesheet" />
        <link href="/Assets/App_Themes/Estore_11_shoes/nivo-slideshow.css" type="text/css" rel="stylesheet" />
        <link type="text/css" href="/Assets/App_Css/3207/edit.css" rel="stylesheet" />
        <link type="text/css" href="/Assets/css/jquery.modaldialog.css" rel="stylesheet" />
        <link type="text/css" href="/Assets/App_Themes/chromefix.css" rel="stylesheet" />*@
    @Styles.Render("~/bundles/core");

    <meta name="Description" content="@ViewBag.Keyword" />
    <meta name="Keywords" content="@ViewBag.Description" />
    <script src="/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script>
        $(function () {
            var counterhub = $.connection.counterHub;

            $.connection.hub.start().done(function () {

                //after connected
            });

            counterhub.client.UpdateCount = function (count) {
                $('#onlineuser').text(count);

            }

        });
    </script>
</head>
<body id="PageBody" style="background:#ffffff">
    <div id="fb-root"></div>
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1867623200222324";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <div id="outer" class='estore_home'>
        <div id="wrap">

            <div><input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" /><input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" /></div>


            <div class="top"></div><div class="middleRepeatY">
                <!---Begin topBar--><!--EndTopBar-->
                <div id="header" class="clearfix">
                    <div class="wrapper">
                        <div class="images-bg">
                            <style>
                                #banner_flashanimation {
                                    position: absolute;
                                }
                            </style>
                            <div id="w_banner">
                                <div id="banner_flashanimation">
                                </div>
                                <a href="/" target="_self">
                                    <img alt='TinPhong | Công ty cửa nhựa lõi thép tại hồ chí minh, cửa nhựa lõi thép
                                     tại hồ chí minh, cửa nhựa tại hồ chí minh, cửa nhựa cao cấp tại hồ chí minh,
                                     giá cửa nhựa tại hồ chí minh, cửa nhựa lõi thép giá rẻ tại hồ chí minh,
                                     cửa nhôm cao cấp tại hồ chí minh, cửa nhôm tại hồ chí minh,
                                     kính cường lực tại hồ chí minh, cửa kính cường lực tại hồ chí minh,
                                     cửa nhôm xingfa tại hồ chí minh, '
                                         src='/Assets/Images/tinphong3.jpg' width='1000' height='250' />
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!--End Header-->
                <!---begin nav bar-->
                <div id="navBar" class="clearfix">
                    <div class="wrapper" id="navBarWrapper">
                        <script type="text/javascript">
                            $(document).ready(function () {
                                var str = location.href.toLowerCase();
                                $("ul.item-main li a.top-link").each(function () {
                                    if (str.indexOf(this.href.toLowerCase()) > -1) {
                                        $("ul.item-main li a").removeClass("selected");
                                        $(this).addClass("selected");
                                    }
                                });
                            });
                        </script><div class="topNavOuter clearfix">
                            <!--begin level nav bar-->
                            <div class="mainLevel">
                                <ul class='item-main clearfix'>
                                    @{ Html.RenderAction("MenuNgang", "Home");}

                                    <!---begin searchbox-->
                                    <div id="pnSearchMenu" style="height:100px;">
                                        <form name="searchform" style="height:100px;" method="get" action="/tim-kiem" id="searchform">
                                            <li id="searchmenu">
                                                <input name="keyword" style="height:40px;width:400px" type="text" value="Tìm kiếm..." id="txtKeywordMenu" class="search-input" onfocus="if (this.value==&#39;Tìm kiếm...&#39;) this.value=&#39;&#39;;" onblur="if (this.value==&#39;&#39;) this.value=&#39;Tìm kiếm...&#39;;" />
                                                <input type="submit" value="Tìm" style="height:40px;width:70px" class="btn btn-primary" />
                                            </li>

                                        </form>
                                    </div>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end nav bar-->
                <!--begin content-->
                <!---Begin Main-->
                <div id="main" class="clearfix">
                    <div class="wrapper">
                        <div class="content-inner clearfix">
                            <div id="Breadcrum" class="clearfix">

                                <!---start Slider-->
                                @{ Html.RenderAction("Slider", "Home");}

                                <!---end Slider-->
                                @*<div class="html-content-module">
                                        <script src="http://uhchat.net/code.php?f=c70862"></script>
                                    </div>*@
                            </div>

                            <!---Begin main-->
                            <div class="clearfix">
                                <!---Begin menu doc-->
                                <div class="fl col-230">
                                    <div id="leftPanel2">
                                        <!---Begin box1-->
                                        @{Html.RenderAction("MenuDoc", "Home");}
                                        <!---end box 1-->
                                        <!---Begin box2-->
                                        <div id="es_supportOnline">
                                            <div class="module box-support-online clearfix">
                                                <div class="module-header">
                                                    <h3><span>Hỗ trợ trực tuyến</span></h3>
                                                </div>
                                                <div class="md">
                                                    <div class="mr">
                                                        <div class="ml">
                                                            <div class="so_inner">
                                                                <div class='so_item first clearfix'>
                                                                    <div class="support-type clearfix">
                                                                        <span class="space"></span>
                                                                    </div>
                                                                    <label class="support-name icon-16-support">BAO GIA 1</label><label class="support-name icon-16-phone">(028)6680 2244</label><label class="support-name icon-16-email">tpwindow1@gmail.com</label>
                                                                </div>
                                                                <div class='so_item clearfix'>
                                                                    <div class="support-type clearfix">
                                                                        <span class="space"></span><a></a>
                                                                    </div>
                                                                    <label class="support-name icon-16-support">BAO GIA 2</label><label class="support-name icon-16-phone">0901 417 789</label><label class="support-name icon-16-email">tpwindow2@gmail.com</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><div class="br"><div class="bl"><div class="bm"></div></div></div>
                                            </div>
                                        </div>

                                        <!---Begin box3-->
                                        <div class="module statistic-box clearfix">
                                            <div class="module-header">
                                                <h3><span>Thống kê truy cập</span></h3>
                                            </div>
                                            <div class="md">
                                                <div class="mr">
                                                    <div class="ml">
                                                        <div class="statistic-content">
                                                            <p><span class="statistic-today online">Online:</span> <b id="onlineuser"></b></p>

                                                            <p><span class="statistic-all">Tất cả:</span> <b id="total">@ApplicationInstance.Application["count_visit"].ToString()</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="br"><div class="bl"><div class="bm"></div></div></div>
                                        </div>
                                        <!---Begin box4 script-->
                                        <div id="fb-root">
                                            <div class="fb-page" data-href="https://www.facebook.com/tpwindow.cuadep/" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/tpwindow.cuadep/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tpwindow.cuadep/">CTY TNHH SX TM DV XD TÍN PHONG - Hệ thống cửa đẹp tại Việt Nam</a></blockquote></div>
                                        </div>
                                        <script>
                                            (function (d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (d.getElementById(id)) return;
                                                js = d.createElement(s); js.id = id;
                                                js.src = "/Assets/connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=230318837149731";
                                                fjs.parentNode.insertBefore(js, fjs);
                                            }(document, 'script', 'facebook-jssdk'));
                                        </script>
                                        <!---Begin box4-->
                                        @*<div class="fb-page"
                                                 data-href='https://www.facebook.com/lamphong.tran.50'
                                                 data-width='230' data-height='1000'
                                                 data-small-header='False' data-adapt-container-width="true"
                                                 data-hide-cover="false" data-show-facepile='True'
                                                 data-show-posts='False'>
                                                <div class="fb-xfbml-parse-ignore">
                                                    <blockquote cite='https://www.facebook.com/lamphong.tran.50'>
                                                        <a href='https://www.facebook.com/lamphong.tran.50'>Facebook</a>
                                                    </blockquote>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>



                                @RenderBody()
                                <!--End Main--><!--end content-->
                                <!---Begin Footer-->
                                @{ Html.RenderAction("Footer", "Home");}
                                <!--End footer-->

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <script lang="javascript">(function () { var pname = ((document.title != '') ? document.title : document.querySelector('h1').innerHTML); var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = 1; ga.src = '//live.vnpgroup.net/js/web_client_box.php?hash=f1f5f7581382e3718b8c366c00a43417&data=eyJzc29faWQiOjUwMDYwMDAsImhhc2giOiJkOWRmN2VmZjgzZjNhZDljOGI2OGRmN2E1M2NiNGUxYiJ9&pname=' + pname; var s = document.getElementsByTagName('script'); s[0].parentNode.insertBefore(ga, s[0]); })();</script>

    @*<script src="/Assets/ajax/search.js"></script>*@
    @Scripts.Render("~/bundles/jssearch");

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-105873886-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>